/*
Here comes the text of your license
Each line should be prefixed with 
*/
/* 
    Created on : Apr 18, 2015, 5:37:05 PM
    Author     : Swetha
*/

table {
    width:600px;
}

#list {
    padding: 5px;
    border: 1px solid black;
}

th {text-align: center;
}